# MeterGroup to Dataframe

# Initialization for Python and NILMTK

Let's kick-off to process and analysis the data with Python.

In [1]:
import dateutil
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from datetime import datetime

import nilmtk as ntk
import utility.tools as tools

## Define constant and global variable

In [3]:
warnings.filterwarnings("ignore")
plt.rcParams['figure.figsize'] = [15, 10]

RAW_FILENAME = "../../../ukdale/ukdale.h5"

START_TS ='2014-01-01 00:00:00'
END_TS='2014-01-31 23:59:59'

HOUSE_NUMBER = 1

## Create objects - nilmtk.DataSet

In [4]:
# Create Dataset object for UK-DALE
ukdale_ds = ntk.DataSet(RAW_FILENAME)

# Set the duration window from START_TS to END_TS
ukdale_ds.set_window(start=START_TS,end=END_TS)

# Create MeterGroup for house_data
# using global variable "HOUSE_NUMBER"
#
house_data = ukdale_ds.buildings[HOUSE_NUMBER].elec

### List of appliances in list

In [5]:
type(house_data.appliances)

list

In [6]:
house_data.appliances

[Appliance(type='vacuum cleaner', instance=1),
 Appliance(type='light', instance=3),
 Appliance(type='light', instance=6),
 Appliance(type='light', instance=12),
 Appliance(type='laptop computer', instance=2),
 Appliance(type='wireless phone charger', instance=1),
 Appliance(type='light', instance=9),
 Appliance(type='radio', instance=2),
 Appliance(type='broadband router', instance=2),
 Appliance(type='light', instance=15),
 Appliance(type='immersion heater', instance=1),
 Appliance(type='washer dryer', instance=1),
 Appliance(type='food processor', instance=2),
 Appliance(type='mobile phone charger', instance=1),
 Appliance(type='audio system', instance=2),
 Appliance(type='desktop computer', instance=1),
 Appliance(type='laptop computer', instance=1),
 Appliance(type='fan', instance=2),
 Appliance(type='coffee maker', instance=1),
 Appliance(type='USB hub', instance=1),
 Appliance(type='security alarm', instance=1),
 Appliance(type='solar thermal pumping station', instance=1),
 Appliance(type='baby monitor', instance=1),
 Appliance(type='light', instance=5),
 Appliance(type='light', instance=2),
 Appliance(type='light', instance=8),
 Appliance(type='external hard disk', instance=1),
 Appliance(type='water pump', instance=1),
 Appliance(type='broadband router', instance=1),
 Appliance(type='clothes iron', instance=1),
 Appliance(type='light', instance=11),
 Appliance(type='light', instance=14),
 Appliance(type='radio', instance=1),
 Appliance(type='food processor', instance=1),
 Appliance(type='drill', instance=1),
 Appliance(type='tablet computer charger', instance=1),
 Appliance(type='kitchen aid', instance=1),
 Appliance(type='audio system', instance=1),
 Appliance(type='laptop computer', instance=3),
 Appliance(type='audio amplifier', instance=1),
 Appliance(type='soldering iron', instance=1),
 Appliance(type='microwave', instance=1),
 Appliance(type='fan', instance=1),
 Appliance(type='breadmaker', instance=1),
 Appliance(type='light', instance=1),
 Appliance(type='active subwoofer', instance=1),
 Appliance(type='boiler', instance=1),
 Appliance(type='light', instance=4),
 Appliance(type='light', instance=10),
 Appliance(type='fridge freezer', instance=1),
 Appliance(type='light', instance=7),
 Appliance(type='television', instance=1),
 Appliance(type='hair straighteners', instance=1),
 Appliance(type='HTPC', instance=1),
 Appliance(type='toasted sandwich maker', instance=1),
 Appliance(type='light', instance=16),
 Appliance(type='radio', instance=3),
 Appliance(type='ethernet switch', instance=1),
 Appliance(type='mobile phone charger', instance=2),
 Appliance(type='light', instance=13),
 Appliance(type='washer dryer', instance=2),
 Appliance(type='bouncy castle pump', instance=1),
 Appliance(type='computer', instance=1),
 Appliance(type='oven', instance=1),
 Appliance(type='toaster', instance=1),
 Appliance(type='charger', instance=1),
 Appliance(type='printer', instance=1),
 Appliance(type='kettle', instance=1),
 Appliance(type='baby monitor', instance=2),
 Appliance(type='computer monitor', instance=1),
 Appliance(type='dish washer', instance=1),
 Appliance(type='hair dryer', instance=1)]

### Show house_data

In [7]:
house_data

MeterGroup(meters=
  ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])
  ElecMeter(instance=3, building=1, dataset='UK-DALE', appliances=[Appliance(type='solar thermal pumping station', instance=1)])
  ElecMeter(instance=4, building=1, dataset='UK-DALE', appliances=[Appliance(type='laptop computer', instance=1), Appliance(type='laptop computer', instance=3)])
  ElecMeter(instance=5, building=1, dataset='UK-DALE', appliances=[Appliance(type='washer dryer', instance=1), Appliance(type='washer dryer', instance=2)])
  ElecMeter(instance=6, building=1, dataset='UK-DALE', appliances=[Appliance(type='dish washer', instance=1)])
  ElecMeter(instance=7, building=1, dataset='UK-DALE', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=8, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=1), Appliance(type='light', instance=2)])
  ElecMeter(instance=9, building=1, dataset='UK-DALE', appliances=[Appliance(type='HTPC', instance=1)])
  ElecMeter(instance=10, building=1, dataset='UK-DALE', appliances=[Appliance(type='kettle', instance=1), Appliance(type='food processor', instance=1), Appliance(type='toasted sandwich maker', instance=1)])
  ElecMeter(instance=11, building=1, dataset='UK-DALE', appliances=[Appliance(type='toaster', instance=1), Appliance(type='kitchen aid', instance=1), Appliance(type='food processor', instance=2)])
  ElecMeter(instance=12, building=1, dataset='UK-DALE', appliances=[Appliance(type='fridge freezer', instance=1)])
  ElecMeter(instance=13, building=1, dataset='UK-DALE', appliances=[Appliance(type='microwave', instance=1)])
  ElecMeter(instance=14, building=1, dataset='UK-DALE', appliances=[Appliance(type='computer monitor', instance=1)])
  ElecMeter(instance=15, building=1, dataset='UK-DALE', appliances=[Appliance(type='audio system', instance=1)])
  ElecMeter(instance=16, building=1, dataset='UK-DALE', appliances=[Appliance(type='breadmaker', instance=1)])
  ElecMeter(instance=17, building=1, dataset='UK-DALE', appliances=[Appliance(type='audio amplifier', instance=1)])
  ElecMeter(instance=18, building=1, dataset='UK-DALE', appliances=[Appliance(type='broadband router', instance=1), Appliance(type='broadband router', instance=2)])
  ElecMeter(instance=19, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=3), Appliance(type='bouncy castle pump', instance=1)])
  ElecMeter(instance=20, building=1, dataset='UK-DALE', appliances=[Appliance(type='soldering iron', instance=1)])
  ElecMeter(instance=21, building=1, dataset='UK-DALE', appliances=[Appliance(type='ethernet switch', instance=1), Appliance(type='USB hub', instance=1)])
  ElecMeter(instance=22, building=1, dataset='UK-DALE', appliances=[Appliance(type='vacuum cleaner', instance=1)])
  ElecMeter(instance=23, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=4)])
  ElecMeter(instance=24, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=5)])
  ElecMeter(instance=25, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=16)])
  ElecMeter(instance=26, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=6)])
  ElecMeter(instance=27, building=1, dataset='UK-DALE', appliances=[Appliance(type='tablet computer charger', instance=1)])
  ElecMeter(instance=28, building=1, dataset='UK-DALE', appliances=[Appliance(type='active subwoofer', instance=1)])
  ElecMeter(instance=29, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=7)])
  ElecMeter(instance=30, building=1, dataset='UK-DALE', appliances=[Appliance(type='radio', instance=1)])
  ElecMeter(instance=31, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=8)])
  ElecMeter(instance=32, building=1, dataset='UK-DALE', appliances=[Appliance(type='wireless phone charger', instance=1), Appliance(type='audio system', instance=2)])
  ElecMeter(instance=33, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=9)])
  ElecMeter(instance=34, building=1, dataset='UK-DALE', appliances=[Appliance(type='mobile phone charger', instance=1)])
  ElecMeter(instance=35, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=10)])
  ElecMeter(instance=36, building=1, dataset='UK-DALE', appliances=[Appliance(type='coffee maker', instance=1)])
  ElecMeter(instance=37, building=1, dataset='UK-DALE', appliances=[Appliance(type='radio', instance=2)])
  ElecMeter(instance=38, building=1, dataset='UK-DALE', appliances=[Appliance(type='mobile phone charger', instance=2), Appliance(type='baby monitor', instance=2), Appliance(type='radio', instance=3)])
  ElecMeter(instance=39, building=1, dataset='UK-DALE', appliances=[Appliance(type='hair dryer', instance=1)])
  ElecMeter(instance=40, building=1, dataset='UK-DALE', appliances=[Appliance(type='hair straighteners', instance=1)])
  ElecMeter(instance=41, building=1, dataset='UK-DALE', appliances=[Appliance(type='clothes iron', instance=1)])
  ElecMeter(instance=42, building=1, dataset='UK-DALE', appliances=[Appliance(type='oven', instance=1)])
  ElecMeter(instance=43, building=1, dataset='UK-DALE', appliances=[Appliance(type='computer', instance=1), Appliance(type='external hard disk', instance=1)])
  ElecMeter(instance=44, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=11)])
  ElecMeter(instance=45, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=12)])
  ElecMeter(instance=46, building=1, dataset='UK-DALE', appliances=[Appliance(type='baby monitor', instance=1)])
  ElecMeter(instance=47, building=1, dataset='UK-DALE', appliances=[Appliance(type='charger', instance=1)])
  ElecMeter(instance=48, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=13)])
  ElecMeter(instance=49, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=14)])
  ElecMeter(instance=50, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=15)])
  ElecMeter(instance=51, building=1, dataset='UK-DALE', appliances=[Appliance(type='desktop computer', instance=1)])
  ElecMeter(instance=52, building=1, dataset='UK-DALE', appliances=[Appliance(type='fan', instance=1)])
  ElecMeter(instance=53, building=1, dataset='UK-DALE', appliances=[Appliance(type='printer', instance=1)])
  ElecMeter(instance=54, building=1, dataset='UK-DALE', site_meter, appliances=[Appliance(type='immersion heater', instance=1), Appliance(type='water pump', instance=1), Appliance(type='security alarm', instance=1), Appliance(type='fan', instance=2), Appliance(type='drill', instance=1), Appliance(type='laptop computer', instance=2)])
)

# Transforming from MeterGroup to DataFrame

## Using API - select_using_appliances

Example:
- select_using_appliances(category='lighting')
- select_using_appliances(type='fridge')
- select_using_appliances(type=['fridge', 'kettle', 'toaster'])
- select_using_appliances(building=1, category='lighting')
- select_using_appliances(room='bathroom')

In [8]:
# Create custom MeterGroup
custom_mg = house_data.select_using_appliances(type=['microwave', 'kettle', 'toaster'])

# Extract data to dataframe
custom_mg_df = custom_mg.dataframe_of_meters()

# Show summary of dataframe
custom_mg_df.describe()

       (13, 1, UK-DALE)  (10, 1, UK-DALE)  (11, 1, UK-DALE)
count     446399.000000     446400.000000     446400.000000
mean           5.547256         11.711927          6.763750
std           83.382286        157.690262        102.883743
min            0.000000          0.000000          0.000000
25%            1.000000          1.000000          0.000000
50%            1.000000          1.000000          0.000000
75%            1.000000          1.000000          0.000000
max         3267.000000       3114.000000       2702.000000

### Change the column header for dataframe

In [9]:
# Change readable column name
custom_mg_df.columns = house_data.get_labels(custom_mg_df.columns)

custom_mg_df.head()

                           Microwave  Kettle  Toaster
2014-01-01 00:00:00+00:00        1.0     1.0      1.0
2014-01-01 00:00:06+00:00        1.0     1.0      1.0
2014-01-01 00:00:12+00:00        1.0     1.0      1.0
2014-01-01 00:00:18+00:00        1.0     1.0      1.0
2014-01-01 00:00:24+00:00        1.0     1.0      1.0

### Export to dataframe to CSV

In [10]:
custom_mg_df.to_csv("custom_mg_df.csv")

In [11]:
csv_custom_mg_df = pd.read_csv("custom_mg_df.csv")

csv_custom_mg_df.describe()

           Microwave         Kettle        Toaster
count  446399.000000  446400.000000  446400.000000
mean        5.547256      11.711928       6.763750
std        83.382286     157.690255     102.883743
min         0.000000       0.000000       0.000000
25%         1.000000       1.000000       0.000000
50%         1.000000       1.000000       0.000000
75%         1.000000       1.000000       0.000000
max      3267.000000    3114.000000    2702.000000

## Using API of Top K of appliances - select_top_k

In [12]:
# Select top 5 objects from MeterGroup, return MeterGroup object 
mg_top = house_data.submeters().select_top_k(k=3)

print("\n\nData Type of mg_top is {}.".format(type(mg_top))) 

# Show the selected MeterGroup values
mg_top

52/52 ElecMeter(instance=53, building=1, dataset='UK-DALE', appliances=[Appliance(type='printer', instance=1)])ance=1)])e(type='external hard disk', instance=1)])e=2), Appliance(type='radio', instance=3)])1)])

Data Type of mg_top is <class 'nilmtk.metergroup.MeterGroup'>.

MeterGroup(meters=
  ElecMeter(instance=12, building=1, dataset='UK-DALE', appliances=[Appliance(type='fridge freezer', instance=1)])
  ElecMeter(instance=5, building=1, dataset='UK-DALE', appliances=[Appliance(type='washer dryer', instance=1), Appliance(type='washer dryer', instance=2)])
  ElecMeter(instance=25, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=16)])
)

In [13]:
# Load data to dataframe from MeterGroup
mg_top_df = mg_top.dataframe_of_meters()

# Change readable column name
mg_top_df.columns = house_data.get_labels(mg_top_df.columns)

# Show dataframe info for MeterGroup
mg_top_df.describe()

       Fridge freezer   Washer dryer          Light
count   446400.000000  446399.000000  446400.000000
mean        36.816189      31.805964      23.749281
std         53.171547     220.907303      48.031818
min          0.000000       0.000000       0.000000
25%          0.000000       0.000000       0.000000
50%          0.000000       0.000000       0.000000
75%         86.000000       0.000000      21.000000
max       1850.000000    3963.000000     343.000000

## Using customized MetaGroup and specfic instance number(s)

In [14]:
my_em_2 = house_data.__getitem__(2)
my_em_3 = house_data.__getitem__(3)
my_em_5 = house_data.__getitem__(5)
my_em_7 = house_data.__getitem__(7)
my_em_8 = house_data.__getitem__(8)

mg = ntk.MeterGroup([my_em_2, my_em_3, my_em_5, my_em_7, my_em_8])
mg

MeterGroup(meters=
  ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])
  ElecMeter(instance=3, building=1, dataset='UK-DALE', appliances=[Appliance(type='solar thermal pumping station', instance=1)])
  ElecMeter(instance=5, building=1, dataset='UK-DALE', appliances=[Appliance(type='washer dryer', instance=1), Appliance(type='washer dryer', instance=2)])
  ElecMeter(instance=7, building=1, dataset='UK-DALE', appliances=[Appliance(type='television', instance=1)])
  ElecMeter(instance=8, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=1), Appliance(type='light', instance=2)])
)

In [15]:
df = mg.dataframe_of_meters()

df.shape

(446400, 5)

In [16]:
# Change readable column name
df.columns = house_data.get_labels(df.columns)

df.describe()

,Boiler,Solar thermal pumping station,Washer dryer,Television,Light
count,446400.000000,446400.000000,446399.000000,446399.000000,446400.000000
mean,19.932907,3.676338,31.805964,9.733294,14.715464
std,25.161802,13.268074,220.907303,28.423477,43.610966
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000
50%,12.000000,0.000000,0.000000,1.000000,0.000000
75%,12.000000,0.000000,0.000000,1.000000,0.000000
max,122.000000,62.000000,3963.000000,1248.000000,345.000000

# Exploring more APIs of MeterGroup

In [17]:
e = house_data.meters[0]
e

ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])

In [18]:
e.device

{'data_logger': {'creators': ['Jack Kelly'],
  'model': 'rfm_ecomanager_logger',
  'model_url': 'https://github.com/JackKelly/rfm_ecomanager_logger'},
 'manufacturer': 'Current Cost',
 'max_sample_period': 120,
 'measurements': [{'upper_limit': 25000,
   'lower_limit': 0,
   'physical_quantity': 'power',
   'type': 'apparent'}],
 'model': 'CurrentCost Tx',
 'model_url': 'http://www.currentcost.com/product-transmitter.html',
 'sample_period': 6,
 'wireless': True,
 'wireless_configuration': {'base': 'creators: [Jack Kelly] model: rfm_edf_ecomanager model_url: https://github.com/JackKelly/rfm_edf_ecomanager/\n',
  'protocol': 'custom',
  'carrier_frequency': 434}}

In [19]:
e.identifier

ElecMeterID(instance=2, building=1, dataset='UK-DALE')

In [20]:
e.instance

In [21]:
e.key

'/building1/elec/meter2'

In [22]:
e.when_on

## API - Get item from class of nilmtk.elecmeter.ElecMeter

### Get item by instance number and return ElecMeter

In [24]:
# Retrieve 
myitem1 = house_data.__getitem__(2)

type(myitem1)

nilmtk.elecmeter.ElecMeter

In [25]:
myitem1

ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])

In [26]:
myitem1.device

{'data_logger': {'creators': ['Jack Kelly'],
  'model': 'rfm_ecomanager_logger',
  'model_url': 'https://github.com/JackKelly/rfm_ecomanager_logger'},
 'manufacturer': 'Current Cost',
 'max_sample_period': 120,
 'measurements': [{'upper_limit': 25000,
   'lower_limit': 0,
   'physical_quantity': 'power',
   'type': 'apparent'}],
 'model': 'CurrentCost Tx',
 'model_url': 'http://www.currentcost.com/product-transmitter.html',
 'sample_period': 6,
 'wireless': True,
 'wireless_configuration': {'base': 'creators: [Jack Kelly] model: rfm_edf_ecomanager model_url: https://github.com/JackKelly/rfm_edf_ecomanager/\n',
  'protocol': 'custom',
  'carrier_frequency': 434}}

### Get item by appliance name & return ElecMeter object

In [27]:
myitem2 = house_data.__getitem__('light')

In [28]:
myitem2

ElecMeter(instance=8, building=1, dataset='UK-DALE', appliances=[Appliance(type='light', instance=1), Appliance(type='light', instance=2)])

In [29]:
myitem2.instance

### Get item by specifying in ElecMeter format 

```
(2, 1, 'UK-DALE')
```
***means as below:***
```
ElecMeter(instance=2, building=1, dataset='UK-DALE')
```

In [30]:
myitem3 = house_data.__getitem__((2, 1, 'UK-DALE'))

type(myitem3)

nilmtk.elecmeter.ElecMeter

In [31]:
type(myitem3.identifier)

nilmtk.elecmeter.ElecMeterID

In [32]:
myitem3.identifier

ElecMeterID(instance=2, building=1, dataset='UK-DALE')

### Get item by using ElecMeterID

In [33]:
from collections import namedtuple
ElecMeterID = namedtuple('ElecMeterID', ['instance', 'building', 'dataset'])

my_emid_2 = ElecMeterID(instance=2,
                    building=1,
                    dataset='UK-DALE')

my_emid_3 = ElecMeterID(instance=3,
                    building=1,
                    dataset='UK-DALE')

my_emid_5 = ElecMeterID(instance=5,
                    building=1,
                    dataset='UK-DALE')

In [34]:
my_emid_2

ElecMeterID(instance=2, building=1, dataset='UK-DALE')

In [35]:
myobj = house_data.__getitem__(my_emid_2)
myobj

ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])

## Get two appliances, and return MeterGroup

### Specifies in instance number

In [36]:
myitem4 = house_data.__getitem__((2,3))
#(1,2), 1, 'REDD')`
type(myitem4)

nilmtk.metergroup.MeterGroup

In [37]:
myitem4

MeterGroup(meters=
  ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])
  ElecMeter(instance=3, building=1, dataset='UK-DALE', appliances=[Appliance(type='solar thermal pumping station', instance=1)])
)

### Specifies in ElecMeter fromat

In [38]:
myitem5 = house_data.__getitem__(((2, 1, 'UK-DALE'), (6, 1, 'UK-DALE')))
type(myitem5)

nilmtk.metergroup.MeterGroup

In [39]:
myitem5

MeterGroup(meters=
  ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])
  ElecMeter(instance=6, building=1, dataset='UK-DALE', appliances=[Appliance(type='dish washer', instance=1)])
)

### Specfiies in ElectMeterID

In [40]:
ElecMeterID = namedtuple('ElecMeterID', ['instance', 'building', 'dataset'])

my_emid_2 = ElecMeterID(instance=2,
                    building=1,
                    dataset='UK-DALE')

my_emid_3 = ElecMeterID(instance=3,
                    building=1,
                    dataset='UK-DALE')

my_emid_5 = ElecMeterID(instance=5,
                    building=1,
                    dataset='UK-DALE')

In [41]:
myobj = house_data.__getitem__((my_emid_2, my_emid_3))
myobj

MeterGroup(meters=
  ElecMeter(instance=2, building=1, dataset='UK-DALE', appliances=[Appliance(type='boiler', instance=1)])
  ElecMeter(instance=3, building=1, dataset='UK-DALE', appliances=[Appliance(type='solar thermal pumping station', instance=1)])
)

# About -  <class 'tuple'>

In [42]:
a = (1, 3, 4)
type(a)

tuple

In [43]:
b = ((1, 2, 'aa'), (3, 4, 'ab'))
type(b)

tuple

In [44]:
for itm in b:
    print("{} - {}".format(type(itm), itm))

<class 'tuple'> - (1, 2, 'aa')
<class 'tuple'> - (3, 4, 'ab')

In [45]:
c = [(1, 2, 'aa'), (3, 4, 'ab')]
type(c)

list

In [46]:
for itm in c:
    print("{} - {}".format(type(itm), itm))

<class 'tuple'> - (1, 2, 'aa')
<class 'tuple'> - (3, 4, 'ab')